body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none; /* Evita seleção de texto em toda a página */
}

.cabecalho {
    background-color: black;
    color: white;
    padding: 20px 0; /* Aumenta a altura do cabeçalho */
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.cabecalho h1 {
    background: -webkit-linear-gradient(left, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px; /* Aumenta o tamanho da fonte */
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px; /* Aumenta o espaço para o cabeçalho fixo */
    padding: 20px;
    text-align: center;
}

.descricao {
    font-size: 24px; /* Aumenta o tamanho da fonte da descrição */
    font-weight: bold;
    margin-bottom: 20px; /* Espaço abaixo da descrição */
}

.player-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.player {
    text-align: center;
    margin: 0 20px;
}

.player img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    border: 3px solid #ddd;
    transform: scale(0.9);
}

.search-container {
    position: relative;
    display: flex;
    width: 400px;
    margin-bottom: 20px; /* Espaço entre a search bar e as tentativas */
}

.search-container input {
    flex-grow: 1; /* Permite que a barra de pesquisa ocupe todo o espaço disponível */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Bordas arredondadas para a esquerda */
    outline: none; /* Remove o contorno de foco ao clicar fora */
    user-select: text; /* Permite a seleção de texto apenas na search bar */
}

.search-container button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0; /* Bordas arredondadas para a direita */
    cursor: pointer;
}

.suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: hidden; /* Remove a scroll bar */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: none; /* Inicialmente invisível */
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div.suggestion-active,
.suggestions div:hover {
    background-color: #f0f0f0;
}

.suggestions div span {
    font-weight: bold;
}

.result {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    visibility: hidden;
}

.attempts-container {
    margin-top: 20px;
    width: 400px;
    text-align: left;
}

.attempts-container div {
    padding: 5px;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.correct-answers-container {
    margin-top: 20px;
    width: 400px;
    text-align: left;
}

.correct-answer {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.other-answer {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none !important; /* Certifique-se de que os conteúdos dropdown estejam ocultos */
    list-style: none !important;
    padding-left: 20px;
    margin: 0; /* Remove qualquer margem para evitar espaços em branco */
}

.no-click {
    pointer-events: none; /* Remove a capacidade de clicar */
    cursor: default; /* Mostra um cursor padrão ao invés do cursor de clique */
}